table {
    border-collapse: collapse;
    font-family: monospace;
    font-size: 0.8rem;
    letter-spacing: 1px;
    table-layout: fixed;
    overflow-x: hidden;
    height: auto;
  }
  
  th,
  td {
    border: 1px solid rgb(255, 255, 255);
    padding: 8px 10px;
    color: #ffffff7a;
    height: auto;
    text-align: center;
  }
  
  tr {
      background: #0000008f;
      height: auto;
      width: 50vw;
  }

  .centered-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-y: scroll;
}
h1 {
    color: white;
    font-size: 40px;
    font-family: "JetBrains Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
a:visited {
    color: white;
}
a {
  text-decoration: none;
  color: white;
}
.flex-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
body {
  background-color: rgb(0, 0, 0);
  background-image: url(images/background.gif);
  background-repeat: no-repeat;
  background-position: 50% 10%;
  background-size: 40%;
}
p {
  color: white;
  font-family: "JetBrains Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.wraptext {
  width: inherit;
  word-wrap: break-word;
  word-break: inherit;
}
h2 {
  font-size: x-large;
  color: rgb(255, 255, 255);
  font-family: "JetBrains Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}
ul {
  color: rgb(255, 255, 255);
  font-family: "JetBrains Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
pre {
  font-size: x-small;
  color: rgb(255, 255, 255);
}
h4 {
  color: white;
  font-size: xx-large;
  font-family: "JetBrains Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
